<table border="0" cellpadding="0" cellspacing="0" class="section-wrapper">
    <tbody>
      <tr>
        <td align="center" valign="top" border="0" cellpadding="0" cellspacing="0">
          <table border="0" cellpadding="0" cellspacing="0" width="800" class="section-background" style="background-color: #fff">
            <tr>
              <td align="center" valign="top" height="165" border="0" cellpadding="0" cellspacing="0" style="border:none;">
                <img src="https://www.trendmicro.com/us/iot-security/content/edm/Eheader.png" width="800" height="165" alt="What's new from IoT Security Headlines"
                  border="0" align="center" style="border:0;line-height:100%;outline:none;text-decoration:none;">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>